body, input, button, label, textarea {
  font-family: Verdana;
  font-size: 12px;
}

p {
  margin: 2px 0;
}

div {
  margin: 16px 0;
}

h1 {
  font-size: 12px;
  font-weight: bold;
}

label {
  margin-right: 4px;
}

input.auth {
  width: 80px;
}

ul {
  padding-left: 20px;
}

button {
  margin-top: 2px;
}